<%- model_class = @invitation.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:user_id) %>:</strong><br>
  <%= @invitation.user_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:recipient_id) %>:</strong><br>
  <%= @invitation.recipient_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:account_id) %>:</strong><br>
  <%= @invitation.account_id %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:recipient_email) %>:</strong><br>
  <%= @invitation.recipient_email %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:recipient_phone) %>:</strong><br>
  <%= @invitation.recipient_phone %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:state_name) %>:</strong><br>
  <%= @invitation.state_name %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              invitations_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_invitation_path(@invitation), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              invitation_path(@invitation),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
