<%= simple_form_for @account, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :currency, collection: [:EUR, :PLN, :USD] %>
  <%= f.input :public %>
  <% if @account.new_record? %>
    <%= f.input :balance %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                accounts_path, :class => 'btn' %>
  </div>
<% end %>
